//- pageTitle: Карта сайта
//- date: 23.05.2018
//- status: done

extends ../layouts/layout.pug

append vars
  - pageTitle = 'Карта сайта'
  - headerIsSignIn = true;

block content
  +section()
    -
      const pages = __pages.sort((a = {date:null}, b = {date:null}) => {
        let {
          date : dateA = '0'
        } = a;

        let {
          date: dateB = '0'
        } = b
        return dateA.split('.').join("") - dateB.split('.').join("");
      })
      let waitCount = 0;
      let wipCount = 0;
      let doneCount = 0;


    .table-of-contents
      h1 Карта сайта
      table
        each page, index in pages
          -
            switch(page.status) {
              case 'wip':
                wipCount++;
              break;
              case 'wait':
                waitCount++;
              break;
              case 'done':
                doneCount++;
              break;
            }
          tr
            td!= index
            td
              a(href=page.href)!= page.title !== undefined && page.title !== 'null' ? page.title : page.name
            td
              div!= page.date !== 'null' ? page.date : ''
            td(class=`${page.status !== 'null' ? page.status : ''}`)
              div!= page.status !== 'null' ? page.status : ''


      .legend
        .status
          .done Готово (#{doneCount})
          .wip В разработке (#{wipCount})
          .wait Ожидает (#{waitCount})
          .all Всего (#{pages.length})
